<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Power BI - WebAPI Sample</title>
    <style>
        body {
            font-family: Arial, Tahoma, Verdana;
            padding: 2em;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
